.navbar-toggler-icon {
  background-image: url("../../../assets/navBar/burger.svg") !important;
}

.navbar-toggler {
  border: none !important;
  color: rgba(0, 255, 255, 0) !important;
}

.nav-link {
  color: white !important;
}
