.background {
  background-image: url("../../assets/module1/background.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #000000a4;
  background-blend-mode: darken;
  height: 100vh;
  clip-path: polygon(50% 85%, 100% 60%, 100% 0, 0 0, 0% 60%);
}

.triangleLeft {
  height: 100%;
  border-top: 10vh solid transparent;
  border-left: 50vw solid #b90303;
  border-bottom: 100% solid transparent;
}

.triangleRight {
  height: 100%;
  border-top: 10vh solid transparent;
  border-right: 50vw solid #0626d8;
  border-bottom: 100% solid transparent;
}

.rectangle {
  height: 1vh;
  width: 100%;
  background-color: #08ce8c;
}
